<html>
<form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
</form>

<body>
<div>Hello everyone!</div>
<a href="/home">Home</a>
</body>
</html>